 * {
     margin: 0;
     padding: 0;
     list-style: none;
     text-decoration: none;
 }

 .sidebar {
     position: fixed;
     width: 250px;
     height: 100%;
     transition: all .5s ease;
     background-position: center;
 }

 .sidebar header {
     font-size: 30px;
     color: #13e5ec;
     text-align: center;
     line-height: 80px;
     user-select: none;
     font-family: 'Times New Roman', Times, serif;
     font-weight: bold;
     background-color: rgba(255, 255, 255, 0.144);
     text-shadow: 0 0 20px #ffffff;
 }

 .sidebar ul a {
     display: block;
     height: 100%;
     width: 100%;
     line-height: 225px;
     font-size: 40px;
     color: rgb(3, 167, 189);
     padding-left: 40px;
     box-sizing: border-box;
     transition: .4s;
     background-color: rgba(255, 255, 255, 0.144);
 }

 ul li:hover a {
     padding-left: 50px;
     color: rgb(255, 255, 255);
     background-color: rgba(138, 137, 137, 0.397);
     border: none;
     border-radius: 20%;
     text-shadow: 0 0 20px white;
 }

 .sidebar ul a i {
     margin-right: 16px;
 }

 #check {
     display: none;
 }



 body {
     overflow: hidden;
 }

 .myVideo {
     position: fixed;
     right: 0;
     bottom: 0;
     min-width: 100%;
     min-height: 100%;
 }
 .container{
     width: 70vw;
     height: 80vh;
     background-color: rgba(64, 102, 109, 0);
     position: absolute;
     margin-left: 25em;
     margin-top: 5em;
 }
 .container .photo {
     width: fit-content;
     float: right;
  
     
 }
 .container .photo img{
     border-radius: 70px;
     height: 50em;
     margin-top: -5em;

 }
 .container .text h1{
     color: white;
     font-size: 5em;
     font-family: Mochiy Pop P One, sans-serif;
     padding-left: 0.5em;
 }
 .container .text h2{
     font-size: 3em;
     color: white;
     padding-left: 0.7em;
 }
 .container .text p{
     font-size: 1.5em;
     color: rgb(130, 213, 219);
     width: 23em;
     padding-left: 3em;
 }