 * {
     margin: 0;
     padding: 0;
     list-style: none;
     text-decoration: none;
 }

 .sidebar {
     position: fixed;
     width: 250px;
     height: 100%;
     transition: all .5s ease;
     background-position: center;
 }

 .sidebar header {
     font-size: 25px;
     color: #e09a58;
     text-align: center;
     line-height: 80px;
     user-select: none;
     font-family: 'Times New Roman', Times, serif;
     font-weight: bold;
     background-color: rgba(255, 255, 255, 0.144);

 }

 .sidebar ul a {
     display: block;
     height: 100%;
     width: 100%;
     line-height: 225px;
     font-size: 40px;
     color: rgb(214, 207, 164);
     padding-left: 20px;
     box-sizing: border-box;
     transition: .4s;
     background-color: rgba(255, 255, 255, 0.144);
 }

 ul li:hover a {
     padding-left: 50px;
     color: rgb(255, 94, 0);
     background-color: rgba(138, 137, 137, 0.397);
     border: none;
     border-radius: 20%;
     box-shadow: 0 0 10px orangered;

 }

 .sidebar ul a i {
     margin-right: 16px;
 }

 #check {
     display: none;
 }

 body {
     overflow: hidden;
 }

 .myVideo {
     position: fixed;
     right: 0;
     bottom: 0;
     min-width: 100%;
     min-height: 100%;
 }

 .gallery img {
     flex: 0 0 300px;
     width: 50em;
     justify-content: center;
     display: inline-flex;
     scroll-snap-align: start;
 }

 .gallery {
     width: 50em;
     height: 35em;
     display: flex;
     overflow-x: auto;
     margin-left: 40em;
     margin-top: 12em;
     scroll-snap-type: x mandatory;
     scroll-behavior: smooth;
     position: absolute;
     box-shadow: 0 0 50px burlywood;

 }

 .nav a {
     text-decoration: none;
     color: rgb(255, 255, 255);
     margin: 1.5em;
     font-size: 1.5em;
     display: inline-flex;
     background-color: black;
     height: 1.3em;
     width: 1em;
     padding-top: 5px;
     padding-left: 0.5em;
     border-radius: 20px;
     transition: 1.2s all ease;
 }

 .nav {
     height: 5em;
     width: 30em;
     margin-left: 50em;
     margin-top: 47em;
     position: absolute;

 }

 .nav a:hover {
     background-color: burlywood;
 }


 ::-webkit-scrollbar {
     display: none;
 }

 /* img1*/
 .gallery .info1 #open1 {
     background-color: rgba(0, 0, 0, 0.623);
     color: white;
     position: absolute;
     width: 33.3em;
     transition: 0.4s all ease;
     height: 2em;
     font-size: 1.5em;
     font-family: serif;
     border: rgba(0, 0, 0, 0.986);
 }

 .info1 #open1:hover {
     color: orange;
     cursor: pointer;
 }

 .gallery .info1 #img1 {
     height: 35em;
 }

 /*image 2*/
 .gallery .info2 #open2 {
     background-color: rgba(0, 0, 0, 0.623);
     color: white;
     position: absolute;
     width: 33.3em;
     transition: 0.4s all ease;
     height: 2em;
     font-size: 1.5em;
     font-family: serif;
     border: rgba(0, 0, 0, 0.986);
 }

 .info2 #open2:hover {
     color: orange;
     cursor: pointer;
 }

 .gallery .info2 #img2 {
     height: 35em;
 }

 /*image 3*/
 .gallery .info3 #open3 {
     background-color: rgba(0, 0, 0, 0.623);
     color: white;
     position: absolute;
     width: 33.4em;
     transition: 0.4s all ease;
     height: 2em;
     font-size: 1.5em;
     font-family: serif;
     border: rgba(0, 0, 0, 0.986);
 }

 .info3 #open3:hover {
     color: orange;
     cursor: pointer;
 }

 .gallery .info3 #img3 {
     height: 35em;
 }

 /*image 4*/
 .gallery .info4 #open4 {
     background-color: rgba(0, 0, 0, 0.623);
     color: rgb(255, 255, 255);
     position: absolute;
     width: 35em;
     transition: 0.4s all ease;
     height: 2em;
     font-size: 1.5em;
     font-family: serif;
     border: black;
 }

 .info4 #open4:hover {
     color: orange;
     cursor: pointer;
 }

 .gallery .info4 #img4 {
     height: 35em;
 }

 /*texts on click*/
 .text1_container {
     background-color: rgba(0, 0, 0, 0.842);
     position: absolute;
     margin-left: 20em;
     width: 70vw;
     height: 78vh;
     margin-top: 6em;
     z-index: 10;
     transition: 200ms ease-in-out;
     visibility: hidden;
     opacity: 0;
 }
 #popup1.active{
     visibility: visible;
     opacity: 1;
 }

 .text1_container .text1 h1 {
     color: white;
     font-size: 4em;
     text-align: center;
 }

 .text1_container .text1 p {
     color: rgb(214, 207, 164);
     font-size: 2em;
     text-align-last: left;
 }

 .text1_container .text1 #close1 {
     font-size: 2em;
     color: rgb(0, 0, 0);
     background-color: rgb(214, 207, 164);
     margin-left: 40%;
     margin-top: 6em;
     width: 5em;
     height: 2em;
     cursor: pointer;
 }


 /* text 2 */ 
.text2_container {
    background-color: rgba(0, 0, 0, 0.842);
    position: absolute;
    margin-left: 20em;
    width: 70vw;
    height: 78vh;
    margin-top: 6em;
    z-index: 10;
    transition: 200ms ease-in-out;
   opacity: 0;
   visibility: hidden;
}

#popup2.active {
    visibility: visible;
    opacity: 1;
}

.text2_container .text2 h1 {
    color: white;
    font-size: 4em;
    text-align: center;
}

.text2_container .text2 p {
    color: rgb(214, 207, 164);
    font-size: 2em;
    text-align-last: left;
}

.text2_container .text2 #close2 {
    font-size: 2em;
    color: rgb(0, 0, 0);
    background-color: rgb(214, 207, 164);
    margin-left: 40%;
    margin-top: 6em;
    width: 5em;
    height: 2em;
    cursor: pointer;
}

/* text 3*/
.text3_container {
    background-color: rgba(0, 0, 0, 0.842);
    position: absolute;
    margin-left: 20em;
    width: 70vw;
    height: 78vh;
    margin-top: 6em;
    z-index: 10;
    transition: 200ms ease-in-out;
    opacity: 0;
    visibility: hidden;
}

#popup3.active {
    visibility: visible;
    opacity: 1;
}

.text3_container .text3 h1 {
    color: white;
    font-size: 4em;
    text-align: center;
}

.text3_container .text3 p {
    color: rgb(214, 207, 164);
    font-size: 2em;
    text-align-last: left;
}

.text3_container .text3 #close3 {
    font-size: 2em;
    color: rgb(0, 0, 0);
    background-color: rgb(214, 207, 164);
    margin-left: 40%;
    margin-top: 6em;
    width: 5em;
    height: 2em;
    cursor: pointer;
}
/*text 4*/
.text4_container {
    background-color: rgba(0, 0, 0, 0.842);
    position: absolute;
    margin-left: 20em;
    width: 70vw;
    height: 78vh;
    margin-top: 6em;
    z-index: 10;
    transition: 200ms ease-in-out;
    opacity: 0;
    visibility: hidden;
}

#popup4.active {
    visibility: visible;
    opacity: 1;
}

.text4_container .text4 h1 {
    color: white;
    font-size: 4em;
    text-align: center;
}

.text4_container .text4 p {
    color: rgb(214, 207, 164);
    font-size: 2em;
    text-align-last: left;
}

.text4_container .text4 #close4 {
    font-size: 2em;
    color: rgb(0, 0, 0);
    background-color: rgb(214, 207, 164);
    margin-left: 40%;
    margin-top: 6em;
    width: 5em;
    height: 2em;
    cursor: pointer;
}
/*javascript toggle*/
#open5{
 position: absolute;
 background-color: rgba(0, 0, 0, 0.671);
 height: 2em;
 width: 10em;
 font-size: 2em;
 margin-left: 45%;
 margin-top: 2em;
 color: white;
 border: 1px solid rgba(0, 0, 0, 0);
 cursor: pointer;
 transition: .3s all ease-in-out;
}
#open5:hover{
    box-shadow: 0 0 20px blanchedalmond;
    height: 2.5em;
    width: 10.5;
}
.JScontainer {
 position: absolute;
 width: 100vw;
 height: 100vh;
 background-color: rgba(0, 0, 0, 0.644);
 z-index: 15;
 opacity: 0;
 visibility: hidden;
 transition: .3s all ease-in-out;
}
.imgContainer{
    width: fit-content;
    margin-left: 30em;
    margin-top: 10em;
}
.JScontainer .imgContainer img{
    height: 25em;
    width: 30em;
    border: 1px solid rgb(214, 207, 164);
    display: inline-block;
    margin: 1em;
    transition: 0.5s all ease;
}
.JScontainer .imgContainer img:nth-child(1):hover{
    width: 40em;
    height: 35em;
}
.JScontainer .imgContainer img:nth-child(2):hover {
    width: 40em;
    height: 35em;
}
.JScontainer button{
   font-size: 2em;
   color: rgb(0, 0, 0);
   background-color: rgb(214, 207, 164);
   margin-left:48%;
   margin-top: 2em;
   width: 5em;
   height: 2em;
   cursor: pointer;
   transition: 0.3s all ease-in-out;
}
.JScontainer button:hover{
    box-shadow: 0 0 20px rgb(214, 207, 164);
}
.JScontainer.active{
    opacity: 1;
    visibility: visible;
}
